body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

.board-row::after{
  clear: both;
  content:'';
  display: block;
}

.square{
  height:34px;
  width:32px;
  float:left;
  line-height:34px;
  text-align:center;
  border: 1px solid #999;
  background: #fff;
  margin-right:-1px;
  margin-bottom: -1px;
}